<div id="<%= dom_id information %>">
  <p>
    <strong>Category:</strong>
    <%= information.Category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= information.Price %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= information.Brand %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= information.Date %>
  </p>

</div>
