<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Information</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to information_index_path, class: button_class(theme: "transparent") do %>
      All Information
      <% end %>
      <%= link_to edit_information_path(@information), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Category:</p>
        <p><%= @information.Category %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @information.Price %></p>
      </li>
      <li>
        <p class="font-semibold">Brand:</p>
        <p><%= @information.Brand %></p>
      </li>
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @information.Date %></p>
      </li>
  </ul>
</div>
